/*layout*/

.box-wrap {
    width: 100%;
    min-width: 1200px;
}

.box-header {
    width: 1200px;
    margin: 20px auto 20px;
}

.box-header > a {
    font-size: 28px;
    font-weight: bold;
    color: #11a43c;
}

.box-header > span {
    font-size: 18px;
    color: #666;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #e5e5e5;
}

.box-content {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.box-content .content-left {
    position: relative;
    width: 840px;
    overflow: hidden;
}

.box-content .content-right {
    position: relative;
    width: 320px;
    overflow: hidden;
}

/*右侧广告*/

.content-right .ad {
    position: relative;
    width: 320px;
    /*依赖conten-right*/
    height: 210px;
    overflow: hidden;
}

.content-right .ad img {
    width: 320px;
    /*依赖conten-right*/
    height: 210px;
}

.content-right .ad img:hover {
    opacity: 0.9;
}

.box-content-shadow {
    width: 1200px;
    min-height: 520px;
    margin: 0 auto;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.23);
    background-color: #fff;
}

/*页面底部*/

.box-footer {
    width: 100%;
    min-width: 1200px;
    min-height: 100px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color: #666;
}

.box-footer .about span,
.box-footer .about a {
    color: #fff;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
}

.box-footer .about a:hover,
.box-footer .record a:hover {
    color: #11a43c;
}

.box-footer .copyright,
.box-footer .contact,
.box-footer .record,
.box-footer .record a {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #9d9ea8;
}

.box-footer .record a {
    padding-left: 10px;
}

.body-line {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    overflow: hidden;
}

.tf {
    font-family: "\5FAE\8F6F\96C5\9ED1", 微软雅黑, "Microsoft Yahei", 雅黑\9, Arial;
}

/*首页头部导航*/

.home-nav {
    position: relative;
    height: 50px;
    min-width: 1200px;
    background-color: #11a43c;
}

.home-nav > .nav-content {
    width: 1200px;
    margin: 0 auto;
}

.home-nav > .nav-content > .nav-logo,
.home-nav > .nav-content li {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
}

.home-nav > .nav-content > .nav-city {
    height: 50px;
    line-height: 50px;
    padding-right: 5px;
}

.home-nav > .nav-content > .nav-city a {
    position: relative;
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 3px 20px 3px 12px;
}

.home-nav > .nav-content > .nav-city a::after {
    content: "";
    position: absolute;
    right: 5px;
    top: 10px;
    border-top: 5px solid #fff;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.home-nav > .nav-content > .nav-list li:hover {
    background-color: #14922d;
}

.home-nav > .nav-content a {
    font-weight: bold;
    padding: 15px 0;
    color: #fff;
}

.home-nav > .nav-content > .nav-login {
    padding-left: 15px;
    background: url("//static.fczx.com/www/assets/icons/user.png") no-repeat left center;
}

.home-nav > .nav-content > .nav-login li a:hover {
    text-decoration: underline;
}

/*左边固定栏*/

.fix-side {
    position: fixed;
    width: 48px;
    height: 100%;
    right: 20px;
    top: 0;
    z-index: 99;
}

.fix-side .fix-bar {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin: auto 0;
}

.fix-side li {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(20, 34, 67, 0.1);
    margin-bottom: 5px;
}

.fix-side li:hover {
    background-color: #11a43c;
    box-shadow: 0 0 10px 0 rgba(17, 164, 60, 0.1);
}

.fix-side .to-top-btn:hover a {
    color: #fff;
}

.fix-side li:hover .bar-popup {
    display: block;
}

.bar-popup {
    display: none;
    position: absolute;
    top: 0;
    right: 46px;
    padding: 0 10px;
    border: 1px solid #eee;
    border-radius: 2px;
    color: #666;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(20, 34, 67, 0.1);
}

.bar-popup .qr-code {
    text-align: center;
    line-height: 12px;
    padding: 10px 0;
}

.bar-popup .qr-code p {
    line-height: 20px;
}

.bar-popup > em {
    position: absolute;
    display: block;
    top: 18px;
    right: -6px;
    width: 0;
    height: 0;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent transparent transparent #eee;
    box-shadow: 0 0 10px 0 rgba(20, 34, 67, 0.1);
}

.bar-popup > em span {
    position: absolute;
    top: -6px;
    right: 1px;
    display: block;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
}

.bar-popup .top-arrow {
    position: absolute;
    display: block;
    top: -6px;
    right: 60px;
    width: 0;
    height: 0;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: transparent transparent #eee transparent;
    box-shadow: 0 0 10px 0 rgba(20, 34, 67, 0.1);
}

.bar-popup .top-arrow em {
    position: absolute;
    display: block;
    top: 1px;
    right: -6px;
    width: 0;
    height: 0;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

/*float*/

.fl {
    float: left;
}

.fr {
    float: right;
}

.fl,
.fr {
    display: inline;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    overflow: auto;
}

/*font-size*/

.font-12px {
    font-size: 12px;
}

.font-16px {
    font-size: 16px;
}

.font-18px {
    font-size: 18px;
}

.font-20px {
    font-size: 20px;
}

.font-24px {
    font-size: 24px;
}

/*带下划线标题*/

.line-title {
    position: relative;
    border-bottom: 1px solid #ddd;
}

.line-title > .title-name {
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding-bottom: 8px;
    border-bottom: 3px solid #11a43c;
}

.line-title > .more {
    position: absolute;
    right: 0;
    top: 12px;
    font-size: 12px;
    color: #666;
}

.line-title > .more:hover {
    text-decoration: underline;
}

/*表格详情类型标题*/

.table-detail {
    margin-top: 20px;
    border: 1px solid #eee;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.table-detail-header {
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    border-bottom: 1px solid #eee;
    background-color: #f8f8f8;
}

.box-title,
.table-detail-header .title {
    font-size: 18px;
    font-weight: bold;
    font-family: "\5FAE\8F6F\96C5\9ED1", 微软雅黑, "Microsoft Yahei", 雅黑\9, Arial;
}

.table-detail-header .title:hover {
    color: #df2f30;
}

.table-detail-header .title-desc {
    font-size: 12px;
    font-weight: normal;
    margin-left: 10px;
    color: #999;
}

.table-detail-header .title-list {
    float: right;
}

.table-detail-header .title-list a:hover {
    color: #11a43c;
}

.table-detail-header .title-list span {
    color: #e5e5e5;
    margin: 0 10px;
}

.table-detail-content {
    padding: 25px;
}

/*楼盘相册*/

.buiding-picture-content {
    margin: 0 -10px;
}

.buiding-picture-content li {
    margin: 10px;
    display: inline-block;
}

.buiding-picture-content .picture {
    display: block;
    position: relative;
    width: 209px;
    height: 121px;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #f7f7f7;
}

.buiding-picture-content .picture img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 214px;
}

.buiding-picture-content .picture img:hover {
    transform: scale(1.05);
}

.buiding-picture-content p {
    line-height: 25px;
}

.buiding-picture-content .text {
    text-align: center;
}

.buiding-picture-content .title {
    font-weight: bold;
}

/*置业顾问公共样式*/

.consultant-hidden-list {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 4000px;
}

.consultant-list li {
    float: left;
    width: 180px;
}

.consultant-hidden-list li {
    float: left;
    width: 200px;
}

.consultant-info {
    position: relative;
    width: 135px;
}

.consultant-info .name {
    line-height: 26px;
    font-size: 14px;
    font-weight: bold;
}

.consultant-info a {
    display: block;
    width: 70px;
    font-size: 12px;
    border: 1px solid #11a43c;
    padding: 2px 0 2px 10px;
    color: #11a43c;
    border-radius: 2px;
}
.consultant-info i {
    float: left;
    width: 14px;
    height: 14px;
    background: url('../assets/icons/icon_message_primary.png') no-repeat -1px 2px;
}

.consultant-image {
    margin-right: 12px;
}

.consultant-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


/*声明免责*/

.box-statement {
    font-size: 12px;
    padding: 10px 20px;
    background-color: #f2f2f2;
}

/*扫描到手机*/

.phone-scan-popup {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 20px;
    background-color: #fff;
    z-index: 10;
}

.phone-scan-popup .top-arrow {
    position: absolute;
    right: 26px;
    top: -16px;
    border-style: solid;
    border-color: transparent transparent #ddd transparent;
    border-width: 8px;
}

.phone-scan-popup .top-arrow span {
    position: absolute;
    left: -8px;
    top: -7px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    border-width: 8px;
}

.phone-scan-popup .describe .title {
    font: 18px/30px "Microsoft Yaahei";
    color: #ff9900;
    margin-bottom: 20px;
    text-align: left;
}

.phone-scan-popup .describe .desc {
    display: inline-block;
    line-height: 24px;
    text-align: left;
}

.phone-scan-popup .describe i {
    position: relative;
    top: 5px;
    display: inline-block;
    width: 63px;
    height: 43px;
    background: url("../assets/icons/computer_mobile_icon.png");
}

.phone-scan-popup .qrcode {
    width: 118px;
    height: 118px;
    overflow: hidden;
}

/*空内容样式*/

.empty-container {
    text-align: center;
    padding: 20px;
}

.empty-container .empty-text {
    line-height: 40px;
    color: #999;
}

/*others*/

.cut-line {
    border-bottom: 1px solid #f4f4f4;
    clear: both;
    margin-bottom: 10px;
}

.cut-line-dashed {
    border-bottom: 1px dashed #f4f4f4;
    clear: both;
}

.vertical-bar {
    display: inline-block;
    width: 2px;
    height: 14px;
    background-color: #11a43c;
    margin-right: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mb30 {
    margin-bottom: 30px;
}

.primary-color {
    color: #11a43c;
}

.tip-color {
    color: #ff3344;
}

.desc-color {
    color: #999;
}

.text-color {
    color: #666;
}

.title-color {
    color: #333;
}

.required-red {
    color: #df2f30;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.hide {
    display: none;
}

.score-point {
    font-size: 20px;
    color: #11a43c;
}

.bold-primary {
    font-weight: bold;
    color: #11a43c;
}

.bold-red {
    font-weight: bold;
    color: #f34;
}

.btn-type {
    line-height: 45px;
    margin: 5px 0;
}

.btn-type a {
    padding: 2px 5px;
}

.btn-type > .btn-zise {
    border: 1px solid #b68fd8;
    color: #b68fd8;
}

.btn-type > .btn-fengse {
    border: 1px solid #e08585;
    color: #e08585;
}

.btn-type > .btn-chengse {
    border: 1px solid #cc9752;
    color: #cc9752;
}

.btn-type > .btn-lanse {
    border: 1px solid #77be66;
    color: #77be66;
}

.btn-type > .btn-lvse {
    border: 1px solid #b68fd8;
    color: #b68fd8;
}

/*百度分享*/

.bdsharebuttonbox .text {
    font-size: 16px;
    position: relative;
    top: 6px;
}

/*全屏默认设置*/

.fullscreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
}

.fullscreen .close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.fullscreen .close-btn i {
    display: block;
    width: 32px;
    height: 32px;
    background: url("../assets/icons/icon_close32.png") no-repeat center center;
}

.screen-content {
    width: 95%;
    height: 100%;
    margin: 20px auto;
    overflow-y: auto;
}

.screen-content::-webkit-scrollbar {
    display: none;
}

.screen-content .screen-picture {
    position: relative;
    text-align: center;
}

.screen-content .arrow {
    position: absolute;
    top: 40%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.screen-content .arrow.arrow-left {
    left: 0;
    background: url("../assets/icons/icon_lefts.png") no-repeat center center;
}

.screen-content .arrow.arrow-right {
    right: 0;
    background: url("../assets/icons/icon_rights.png") no-repeat center center;
}

.screen-content .arrow.arrow-left:hover {
    background: url("../assets/icons/icon_lefts_hv.png") no-repeat center center;
}

.screen-content .arrow.arrow-right:hover {
    background: url("../assets/icons/icon_rights_hv.png") no-repeat center center;
}

.screen-carousel {
    position: absolute;
    bottom: 20px;
    left: 40px;
    right: 40px;
    height: 80px;
    overflow: hidden;
}

.screen-carousel .arrow {
    position: absolute;
    top: 25px;
    width: 22px;
    height: 33px;
    cursor: pointer;
    background: url("../assets/icons/arrow.png") no-repeat center center;
}

.screen-carousel .arrow.arrow-left {
    left: 0;
    background-position: 0 0;
}

.screen-carousel .arrow.arrow-right {
    right: 0;
    background-position: -23px 0;
}

.screen-carousel .arrow.arrow-left:hover {
    background-position: 0 -34px;
}

.screen-carousel .arrow.arrow-right:hover {
    background-position: -23px -34px;
}

.screen-carousel .screen-picture-list {
    width: 4000px;
    height: 80px;
}

.screen-carousel .screen-picture-list li {
    position: relative;
    float: left;
    cursor: pointer;
    width: 112px;
    height: 80px;
    margin-right: 10px;
    background-color: #f7f7f7;
    overflow: hidden;
}

.screen-carousel .screen-picture-list li img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*覆盖浏览器以及标签的一些默认样式*/

html, body,
/* 根元素 */

div, p, footer, header, menu, nav, section,
/* 分块元素 */

dl, dt, dd, ul, ol, li,
/* 有序列表,无序列表,定义列表 */

h1, h2, h3, h4, h5, h6,
/* 标题元素 */

form, fieldset, legend, input, textarea, button,
/* 表单元素 */

table, thead, tbody, th, tr, td
/* 表格元素 */ {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-size: 14px;
    font-family: "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei" !important;
}

a {
    color: #333;
    text-decoration: none;
}

ul {
    list-style: none;
}

textarea,
input {
    outline: none;
    border-color: #e5e5e5;
    border-radius: 2px;
}

textarea::placeholder {
    color: #888;
    font-size: 12px;
    font-family: "\5FAE\8F6F\96C5\9ED1", 微软雅黑, "Microsoft Yahei", 雅黑\9, Arial;
}

em {
    font-style: normal;
}
