/*分页*/

.pagination {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
}

.pagination-right {
    text-align: right;
}

.pagination li {
    margin: 0 4px;
    display: inline-block;
}

.pagination li a {
    border: 1px solid #eee;
    padding: 5px 10px;
}

.pagination li a.actived {
    color: #fff;
    border-color: #11a43c;
    background-color: #11a43c;
}

.pagination li a.disabled {
    color: #999;
    background-color: #eee;
}

.pagination li a:hover:not(.actived):not(.disabled) {
    color: #11a43c;
    border-color: #11a43c;
}

.pagination li.total {
    font-size: 12px;
    color: #666;
}

/*二级导航*/

.second-nav {
    height: 50px;
    line-height: 50px;
    background-color: #f3f3f3;
}

.second-nav>a {
    display: inline-block;
    color: #333;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
}

.second-nav>a:hover {
    color: #11a43c;
}

.second-nav>a.actived {
    color: #11a43c;
    height: 47px;
    border-bottom: 3px solid #11a43c;
}

/*楼盘相关*/

.building-related .picture {
    position: relative;
    display: block;
    width: 160px;
    height: 120px;
    overflow: hidden;
    background-color: #f7f7f7;
}

.building-related .picture img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.building-related .picture:hover {
    opacity: 0.9;
}

.building-related .content {
    position: relative;
    width: 650px;
    /*依赖content-left宽度*/
    margin-left: 20px;
}

.building-related .content p {
    height: 30px;
    line-height: 30px;
}

.building-related .title a {
    font-size: 16px;
    margin-right: 20px;
}

.building-related .title a:hover {
    color: #df2f30;
}

.building-related .price {
    position: absolute;
    top: 0;
    right: 10px;
    color: #ff3344;
}

.building-related .phone {
    font-size: 16px;
    font-weight: bold;
    color: #11a43c;
}

.building-related .desc {
    font-size: 12px;
    color: #999;
    padding-left: 10px;
}

.building-related .application-btn {
    height: 30px;
    padding: 5px 10px;
    border-radius: 2px;
    background-color: #11a43c;
    color: #fff;
}

.building-related .application-btn:hover {
    background-color: #14922d;
}

.building-related .application {
    position: relative;
    height: 30px;
    margin-top: 20px;
}

/*用户名手机提交表单*/

.form-item {
    position: relative;
    display: inline-block;
}

.form-item i {
    position: absolute;
    top: 10px;
    left: 8px;
    width: 20px;
    height: 20px;
    background: url('//static.fczx.com/www/assets/icons/login_sprites.png') no-repeat;
}

.form-item i.name-icon {
    background-position: -90px -50px;
}

.form-item i.phone-icon {
    background-position: -10px -90px;
}

.form-item .code-icon {
    background-position: -50px -10px;
}

.form-item input[type=text] {
    width: 196px;
    height: 40px;
    border: 1px solid #eee;
    margin-right: 10px;
    padding-left: 35px;
}

.form-item a {
    display: block;
    height: 40px;
    line-height: 40px;
    border-radius: 2px;
    text-align: center;
    padding: 0 12px;
    background-color: #11a43c;
    color: #fff;
}

.form-item a:hover {
    background-color: #14922d;
}

.form-item .error {
    position: absolute;
    top: 40px;
    left: 0;
    font-size: 12px;
    color: #ff3344;
}

/*一行表单提交报错提示popup*/

.formError {
    display: none;
    position: absolute;
    top: -28px;
    left: 20px;
    font-size: 12px;
    padding: 6px 8px;
    border-radius: 2px;
    color: #fff;
    background-color: #11a43c;
}

.formError::after {
    position: absolute;
    top: 28px;
    content: '';
    display: block;
    clear: both;
    border-style: solid;
    border-color: #11a43c transparent transparent transparent;
    border-width: 5px;
}

/*热门团购*/

.hot-purchase {
    min-height: 150px;
    padding: 10px;
    background-color: #f5f5f5;
}

.hot-purchase>.title {
    font-size: 16px;
    padding-bottom: 10px;
    color: #666;
}

.hot-purchase>.item {
    border-bottom: 1px dashed #ccc;
    padding: 5px 5px 10px 5px;
}

.hot-purchase>.item dt, .hot-purchase .item .tag-1 {
    position: relative;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

.hot-purchase>.item dt .text-area {
    color: #666;
}

.hot-purchase>.item dt .price {
    float: right;
    color: #ff3344;
}

.hot-purchase>.item dt a:hover {
    color: #df2f30;
}

.hot-purchase>.item dd {
    font-size: 12px;
}

.hot-purchase>.item dd .tag {
    background-color: #11a43c;
    color: #fff;
    padding: 2px 5px;
    margin-right: 5px;
}

.hot-purchase>.item .tag-2, .hot-purchase .item.on .tag-1 {
    display: none;
}

.hot-purchase>.item.on {
    background-color: #fff;
}

.hot-purchase>.item.on .tag-2 {
    display: block;
}

.hot-purchase>.item.on .picture-left img {
    width: 100px;
    height: 74px;
}

.hot-purchase .item.on .picture-left img:hover {
    opacity: 0.9;
}

.hot-purchase>.item.on .content-right {
    position: relative;
    width: 150px;
    height: 74px;
    margin-left: 15px;
}

.hot-purchase>.item.on .content-right p {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}

.hot-purchase>.item.on .content-right a {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    background-color: #11a43c;
    color: #fff;
    padding: 5px 10px;
}

.hot-purchase>.item.on .content-right a:hover {
    background-color: #14922d;
}

/*通用表格*/

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
}

table th, table td {
    padding: 6px 12px;
    border: 1px solid #ddd;
}

.table-toggle {
    border-top: 5px solid #f7f7f7;
    text-align: center;
}

.table-toggle .toggle-btn {
    display: inline-block;
    background-color: #f7f7f7;
    padding: 0 20px 2px 20px;
    color: #666;
    cursor: pointer;
}

.table-toggle i {
    float: right;
    width: 20px;
    height: 20px;
}

.table-toggle .on i {
    background: url('../assets/icons/up_pack.png') no-repeat right center;
}

.table-toggle .off i {
    background: url('../assets/icons/down_more.png') no-repeat right center;
}

.tbody-all {
    display: none;
}

/*右边通用列表格式*/

.table-type-list {
    border: 1px solid #eee;
    padding: 10px 10px 20px 10px;
}

.table-type-list .title {
    color: #666;
    font-size: 18px;
    margin-bottom: 8px;
}

.table-type-list dt, .table-type-list dd {
    height: 40px;
    line-height: 40px;
}

.table-type-list dl span {
    display: inline-block;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    text-align: center;
}

.table-type-list dt span {
    color: #999;
}

.table-type-list dd .list-item {
    display: block;
}

.table-type-list .name {
    width: 100px;
    text-align: left;
}

.table-type-list .price {
    width: 80px;
}

.table-type-list .area {
    width: 60px;
}

/*右侧小表单：帮你找房*/

.find-house {
    margin: 20px 10px;
}

.select-house {
    font-size: 0;
    margin: 0 -12px 10px -12px;
}

.select-content-sm {
    position: relative;
    display: inline-block;
    width: 130px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    border: 1px solid #ddd;
    margin: 5px 10px;
    color: #666;
    cursor: pointer;
}

.select-content-sm span {
    padding-left: 10px;
}

.select-content-sm i {
    position: absolute;
    top: 5px;
    right: 8px;
    width: 12px;
    height: 20px;
    background: url('../assets/icons/down12.png') no-repeat center center;
}

.select-content-sm:hover i {
    background: url('../assets/icons/down12_hv.png') no-repeat center center;
}

.select-content-sm .select-list {
    display: none;
    position: absolute;
    top: 28px;
    left: -1px;
    width: 130px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    background-color: #fff;
    z-index: 10;
}

.select-content-sm .select-list li {
    padding-left: 10px;
    white-space: nowrap;
}

.select-content-sm .select-list li:hover {
    background-color: #e5fbe8;
}

.form-item-sm {
    margin-bottom: 15px;
}

.form-item-sm .label-control {
    float: left;
    width: 70px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    color: #666;
}

.form-item-sm input[type=text] {
    width: 198px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    padding: 0 10px;
}

.form-item-code-sm input[type=text] {
    width: 100px;
}

.form-item-sm input[type=button] {
    width: 86px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    margin-left: 6px;
    cursor: pointer;
    color: #666;
}

.btn-common {
    width: 100%;
    height: 35px;
    line-height: 35px;
    color: #fff;
    background-color: #11a43c;
    cursor: pointer;
}

.btn-common:hover {
    background-color: #14922d;
}

/*区域楼盘列表*/

.hot-pic-list li {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #ddd;
}

.hot-pic-list li .content {
    margin-left: 20px;
    width: 182px;
}

.hot-pic-list li .item-picture {
    position: relative;
    display: block;
    width: 95px;
    height: 70px;
    background-color: #f4f4f4;
    overflow: hidden;
}

.hot-pic-list li a {
    display: block;
}

.hot-pic-list li .item-title {
    font-size: 16px;
    color: #333;
}

.hot-pic-list li .item-title:hover {
    color: #df2f30;
}

.hot-pic-list li .count {
    color: #f90;
    margin: 5px 0;
}

.hot-pic-list li .area {
    color: #999;
    margin: 5px 0;
}

/*左边加载更多*/

.left-load-more {
    text-align: center;
    height: 35px;
    line-height: 35px;
    border: 1px solid #eee;
    border-radius: 2px;
    margin-top: 20px;
}

.left-load-more a {
    color: #999;
    padding-right: 20px;
    background: url('../assets/icons/down_grey.png') no-repeat right center;
}

.left-load-more a:hover {
    color: #df2f30;
}

/*楼盘标签*/

.tags {
    margin-top: 15px;
}

.tags span {
    color: #666;
    background-color: #f2f2f2;
    padding: 2px 8px;
    margin-right: 10px;
}

.tags .solding {
    color: #fff;
    background-color: #409DFB;
}