/*楼盘户型图*/
/*户型图展示*/
.box-hxt>.box-hxt-body {
    margin-top: 15px;
}

.box-hxt>.box-hxt-body>a {
    position: relative;
    display: inline-block;
    width: 262px;
    margin-left: 25px;
}

.box-hxt-body .box-hxt-image {
    position: relative;
    width: 262px;
    height: 262px;
    overflow: hidden;
    border: 1px solid #eee;
}

.box-hxt-body .box-hxt-image img{
    width: 262px;
    height: 262px;
    transition:all .3s;
    -moz-transition:all .3s;
    -webkit-transition:all .3s;
    -o-transition:all .3s;
}

.box-hxt-body .box-hxt-image img:hover {
    transform: scale(1.05);
}

.box-hxt-body .box-hxt-image .image-tag {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 10px;
    background: rgba(29, 168, 56, .9);
    color: #fff;
}

.box-hxt-body .box-hxt-image .image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4px 10px;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    text-align: center;
}

.box-hxt-body .box-hxt-text {
    margin: 20px 0;
}

.box-hxt-body .box-hxt-text p {
    margin-top: 5px;
}

.box-hxt-body .box-hxt-text .text-tag span {
    font-size: 12px;
    padding: 2px 6px;
    background-color: #f4faec;
}