.tf {
    font-family: "\5FAE\8F6F\96C5\9ED1",微软雅黑,"Microsoft Yahei",雅黑\9,Arial;
}
/*float*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.fl,
.fr {
    display: inline;
}
/*font-size*/
.font-12px {
    font-size: 12px;
}

.font-16px {
    font-size: 16px;
}

.font-18px {
    font-size: 18px;
}

.font-24px {
    font-size: 24px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
    overflow: auto;
}

.cut-line {
    border-bottom: 1px solid #F4F4F4;
    clear: both;
    margin-bottom: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.description {
    color: #999;
}

.required-red {
    color: #DF2F30;
}