.tf {
    font-family: "\5FAE\8F6F\96C5\9ED1", 微软雅黑, "Microsoft Yahei", 雅黑\9, Arial;
}
/*float*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.fl,
.fr {
    display: inline;
}
/*font-size*/
.font-12px {
    font-size: 12px;
}

.font-16px {
    font-size: 16px;
}

.font-18px {
    font-size: 18px;
}

.font-24px {
    font-size: 24px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    overflow: auto;
}

.cut-line {
    border-bottom: 1px solid #f4f4f4;
    clear: both;
    margin-bottom: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.description {
    color: #999;
}

.required-red {
    color: #df2f30;
}

.block {
    display: block;
}

.hide {
    display: none;
}

.third-link {
    margin: 10px 0;
}

.third-link a{
    font-size: 12px;
    margin: 0 12px 0 5px;
    color: #666;
}

.third-link a:hover {
    color: #DF2F2F;
}

.third-link>img {
    width: 24px;
    height: 24px;
    vertical-align: -6px;
}
