.register-wrap {
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}
.register-wrap > .register-header {
    margin-bottom: 20px;
}

.register-wrap > .register-header > a {
    font-size: 28px;
    font-weight: bold;
    color: #11a43c;
}

.register-wrap > .register-header > span {
    font-size: 18px;
    color: #666;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #e5e5e5;
}

.box-register {
    width: 1200px;
    padding: 50px 20px 50px 120px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.23);
    background-color: #fff;
}

.box-register > .register-form {
    width: 750px;
    border-right: 1px solid #eee;
}

.box-register > .register-form li {
    position: relative;
    margin-bottom: 25px;
}

.box-register > .register-form li label {
    float: left;
    width: 120px;
    line-height: 39px;
    padding-right: 15px;
    text-align: right;
}

.box-register > .register-form li input {
    border: 0;
    width: 300px;
    height: 39px;
    background-color: #f0f0f0;
    padding-left: 10px;
}

.box-register > .register-form li .phone-code {
    width: 180px;
}

.box-register > .register-form li em a {
    margin-left: 15px;
    padding: 12px 15px;
    border-radius: 2px;
    color: #fff;
    background-color: #11a43c;
}

.box-register > .register-form li .eyes-icon {
    position: absolute;
    right: 310px;
    top: 0;
    width: 20px;
    height: 20px;
    margin: 10px 10px;
}

.box-register > .register-form li .eyes-icon.close {
    background: url("../images/login_sprites.png") -10px -50px;
}

.box-register > .register-form li .error {
    position: absolute;
    left: 135px;
    font-size: 12px;
    color: #ff3344;
}

.box-register > .register-form li .tip {
    position: absolute;
    right: 45px;
    top: 0;
    max-width: 250px;
    font-size: 12px;
    padding: 2px 8px;
    color: #999;
}

.box-register > .register-form .register-btn {
    color: #fff;
    background-color: #11a43c;
}

.box-register > .register-form li em a:hover,
.box-register > .register-form .register-btn:hover {
    background-color: #14922d;
}

.box-register > .register-form .register-link {
    padding-left: 132px;
}

.box-register > .register-form .register-link a {
    font-size: 12px;
    color: #6B91B3;
}

.box-register > .register-form .register-link a:hover {
    color: #DF2F2F;
}

/*直接登录*/

.box-register>.register-info {
    width: 250px;
    text-align: center;
}

.box-register>.register-info p {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.box-register>.register-info p a {
    color: #11a43c;
}

