.know-item {
    margin-bottom: 30px;
    padding: 30px 0 50px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}

.know-item .know-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.know-title .iconfont {
    color: #11a43c;
    padding-right: 5px;
}

.know-left {
    min-height: 300px;
}

.know-left .menu-item {
    margin-top: 20px;
}

.know-left .menu-item .sub-title {
    font-size: 15px;
    padding-left: 16px;
    font-weight: bold;
    color: #333;
}

.know-left .menu-item.down .sub-title {
    background: url("../../assets/icons/triangle-down.png") no-repeat left center;
}

.know-left .menu-item.right .sub-title {
    background: url("../../assets/icons/triangle-right.png") no-repeat left center;
}

.know-left .menu-item.right ul {
    display: none;
}

.know-left .menu-item ul {
    padding-left: 16px;
    margin-top: 15px;
}

.know-left .menu-item ul>li>a {
    display: inline-block;
    width: 150px;
    font: 14px/30px "Miscrosoft Yahei";
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.know-left .menu-item ul>li>a:hover {
    color: #df2f30;
}

.know-left .menu-item ul>li>a.actived {
    color: #df2f30;
    font-weight: bold;
}

.know-right {
    position: relative;
    width: 840px;
}

.know-right .know-cut-line {
    margin-right: 20px;
    height: 2px;
    background-color: #f7f7f7;
}

.know-right .scroll-content {
    height: 100%;
    overflow: hidden;
}

.know-right .scroll-bar {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: #fff;
}

#knowPurchase .know-right:hover .scroll-bar {
    display: block;
}

#knowRent .know-right:hover .scroll-bar {
    display: block;
}

.know-right .scroll-bar .scroll-slider {
    position: absolute;
    top: 0;
    left: 1px;
    width: 3px;
    height: 80px;
    border-radius: 25%;
    background-color: #ddd;
}

.know-list li {
    overflow: hidden;
    margin-right: 20px;
    padding: 20px 0 20px 20px;
    border-bottom: 1px solid #f7f7f7;
    cursor: pointer;
}

.know-list li:hover {
    background-color: #f7f7f7;
}

.know-list .picture {
    margin-right: 20px;
    width: 130px;
    height: 98px;
    overflow: hidden;
}

.know-list .picture img {
    width: 100%;
    height: 100%;
}

.know-list .describe {
    max-width: 650px;
    overflow: hidden;
}

.know-list .describe p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.know-list .describe .title {
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

.know-list .describe .desc {
    margin: 15px 0;
}

.know-list .describe .title:hover {
    text-decoration: underline;
}

.know-list .describe .collect {
    border-radius: 2px;
    padding: 2px 4px;
    margin-left: 20px;
    color: #3399ff;
    background-color: #e2f1ff;
}

.know-list .describe .collect:hover {
    color: #fff;
    background-color: #3399ff;
}

.know-list .describe .comment {
    line-height: 20px;
    font-size: 12px;
    color: #999;
}

.know-list .describe .comment i {
    position: relative;
    top: 5px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../../assets/icons/icon_zan.png") no-repeat center center;
}

.zs-tag a {
    line-height: 50px;
    padding: 4px 8px;
    margin-right: 10px;
    border-radius: 2px;
    color: #11a43c;
    background-color: #eee;
}

.zs-tag a:hover {
    color: #fff;
    background-color: #11a43c;
}

.know-right .check-more {
    position: relative;
    top: 14px;
    text-align: center;
    background-color: #fff;
}

.know-right .check-more a:hover {
    color: #df2f30;
}

/*知识详情*/

.zs-detail-header {
    text-align: center;
    line-height: 30px;
    padding: 20px 0;
}

.zs-detail-header .desc {
    font-size: 12px;
    color: #999;
}

.zs-detail-header .desc span {
    padding: 0 5px;
}

.zs-detail-content {
    margin-bottom: 10px;
    min-height: 200px;
    overflow: hidden;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/*
.zs-share {
    line-height: 60px;
    text-align: center;
}

.zs-share .share-item {
    display: inline-block;
    padding: 0 10px;
}

.zs-detail-link a {
    line-height: 28px;
    color: #999;

}

.zs-detail-link a:hover {
    color: #df2f30;
}

.hot-tags {
    position: relative;
    font-size: 0;
}

.hot-tags li {
    display: inline-block;
    width: 96px;
    line-height: 30px;
    border-radius: 2px;
    text-align: center;
    font-size: 14px;
    margin: 15px 10px 0 0;
    background-color: #eee;
}

.hot-tags li a {
    display: block;
    color: #11a43c;
    padding: 0 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hot-tags li a:hover {
    color: #fff;
    background-color: #11a43c;
}

.zs-related ul li {
    display: inline-block;
    width: 400px;
    margin: 12px 16px 0 0;
}

.zs-related ul li a:hover {
    color: #df2f30;
}

.zs-related ul li p {
    font-size: 12px;
    color: #999;
    line-height: 24px;
}
*/

.load-more {
    line-height: 35px;
    text-align: center;
}

.load-more a:hover {
    color: #df2f30;
}

/* 知识列表菜单 */

.knowlist-menu {
    width: 280px;
    min-height: 120px;
}

.knowlist-menu .menu-item {
    text-indent: 30px;
    border: 1px solid #eee;
}

.knowlist-menu .menu-item .menu-title {
    text-indent: 30px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    background-color: #eee;
}

.knowlist-menu .submenu {
    line-height: 35px;
}

.knowlist-menu .submenu .submenu-title {
    position: relative;
    font-size: 15px;
    padding-left: 10px;
    color: #333;
    cursor: pointer;
}

.knowlist-menu .submenu .submenu-title .down {
    position: absolute;
    top: 0;
    left: 20px;
    width: 20px;
    height: 35px;
    background: url("../../assets/icons/triangle-down.png") no-repeat center center;
}

.knowlist-menu .submenu-item {
    padding-left: 10px;
}

.knowlist-menu .submenu-item a {
    display: block;
    color: #666;
}

.knowlist-menu .submenu-item a.actived {
    font-weight: bold;
    color: #11a43c;
}

.knowlist-menu .submenu-item a:hover {
    color: #11a43c;
}

/* 知识列表 */

.knowlist-content {
    width: 880px;
    border-top: 2px solid #eee;
}

.know-list-b li {
    margin-right: 0;
    padding: 30px;
}

.know-list-header {
    height: 40px;
    line-height: 40px;
    background-color: #f2f2f2;
    padding: 0 30px;
}

.know-list-header .name {
    color: #11a43c;
    font-size: 15px;
    padding-right: 5px;
}

.know-list-header .desc {
    font-size: 13px;
    color: #999;
}