.map-search-menu {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #f2f2f2;
}

.map-search-menu {
    padding: 0 25px;
}

.map-search-menu .menu-item {
    position: relative;
    float: left;
    min-width: 60px;
    color: #666;
}

.map-search-menu .item-select {
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    cursor: pointer;
}

.map-search-menu .item-select:hover {
    color: #f60;
}

.map-search-menu .item-select.actived {
    color: #f60;
}

.map-search-menu .item-select-list {
    display: none;
    position: absolute;
    top: 50px;
    width: 120px;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-top: 0;
    z-index: 12;
    cursor: pointer;
}

.map-search-menu .menu-item:hover {
    background-color: #f7f7f7;
}

.map-search-menu .item-select-list li {
    height: 30px;
    line-height: 30px;
    padding-left: 18px;
}

.map-search-menu .item-select-list li:hover {
    color: #f60;
    background-color: #f7f7f7;
}

.map-search-menu .item-select-list li.actived {
    color: #f60;
}

.map-search-menu .item-select-list li a {
    display: block;
}

.map-search-menu .switch-list {
    position: relative;
}

.map-search-menu .switch-list .switch-name {
    display: block;
    width: 85px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.map-search-menu .switch-list .switch-name:hover {
    color: #f60;
    background-color: #f7f7f7;
}

.map-search-menu .switch-list .item-select-list {
    width: 85px;
}

/* 切换地图 */

.map-search-menu .current-map {
    font-size: 16px;
    font-weight: bold;
    color: #f60;
}

/*地图搜索内容*/

.map-search-content {
    position: relative;
}

.map-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
}

.map-list-wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .15);
}

.map-list-wrap .fold-btn {
    position: absolute;
    top: 50%;
    left: 420px;
    width: 30px;
    height: 65px;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .15);
    cursor: pointer;
}

.map-list-wrap .fold-btn i {
    display: block;
    width: 100%;
    height: 100%;
}

.open {
    background: url('//static.fczx.com/www/assets/icons/triangle-left.png') no-repeat center center;
}

.close {
    background: url('//static.fczx.com/www/assets/icons/triangle-right.png') no-repeat center center;
}

.map-list-content {
    width: 420px;
    height: 100%;
    overflow: hidden;
}

.map-list-scroll-bar {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background-color: #fff;
}

.map-list-scroll-bar .scroll-slider {
    position: absolute;
    top: 0;
    left: 1px;
    width: 3px;
    height: 80px;
    border-radius: 25%;
    background-color: #ddd;
}

.mli-item {
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.mli-item:hover {
    background-color: #f7f7f7;
}

.mli-item .mli-img {
    position: relative;
    display: block;
    width: 136px;
    height: 108px;
    overflow: hidden;
}

.mli-item .mli-img img {
    width: 100%;
    height: 100%;
}

.mli-item .mli-detail {
    width: 228px;
    margin-left: 15px;
}

.mli-item .mli-detail .item {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}

.mli-item .mli-detail .item:first-child {
    margin-top: 0;
}

.mli-item .mli-detail .house-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.mli-item .mli-detail .house-price {
    font-size: 16px;
    font-weight: bold;
    color: #ff3344;
    margin: 6px 0;
}

.mli-item .mli-detail .tag {
    font-size: 12px;
    padding: 2px 6px;
    margin-right: 5px;
    vertical-align: 1px;
    color: #fff;
    background-color: #11a43c;
}

.map-list-empty {
    display: none;
    position: absolute;
    top: 0;
    width: 420px;
    text-align: center;
    margin-top: 60px;
}

.empty-text {
    color: #666;
    margin-top: 15px;
}

/* 地图覆盖物样式 */

.circle-bubble {
    margin-top: 25px;
    text-align: center;
    color: #fff;
}

.circle-bubble .name {
    font-size: 14px;
    font-weight: bold;
}

.circle-bubble .count {
    margin-top: 5px;
    font-size: 12px;
}

.house-bubble {
    display: block;
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
}

.house-bubble.actived {
    background-color: #f60;
}

.house-bubble.actived .triangle-down {
    border-color: #f60 transparent transparent transparent;
}

.house-bubble .triangle-down {
    position: absolute;
    left: 40%;
    border-width: 8px;
    border-style: solid;
    border-color: #11a43c transparent transparent transparent;
    opacity: .9;
}

.house-bubble:hover .triangle-down {
    border-color: #f60 transparent transparent transparent;
}

.house-bubble .price {
    font-weight: bold;
}

.house-bubble em {
    padding: 0 10px;
    color: #ccc;
}