.surround-content {
    position: relative;
    height: 500px;
}

.surround-map {
    height: 100%;
}

.surround-mark {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 400px;
    width: 400px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.surround-mark-tab .mark-tab-list {
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #11a43c;
    color: #333;
    background-color: #f2f2f2;
}

.surround-mark-tab .mark-tab-list li {
    float: left;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.surround-mark-tab .mark-tab-list li.actived {
    color: #fff;
    background-color: #11a43c;
}

.surround-mark-content {
    width: 400px;
    overflow: hidden;
}

.surround-mark-content .mark-item {
    display: none;
    color: #333;
}

.surround-mark-content .mark-item .item-empty {
    height: 20px;
}

.surround-mark-content .mark-item .item-tab {
    overflow: hidden;
    padding: 12px 0 12px 20px;
    border-bottom: 1px solid #f2f2f2;
}

.surround-mark-content .mark-item .item-tab li {
    display: inline-block;
    padding-right: 20px;
    cursor: pointer;
}

.surround-mark-content .mark-item .item-tab li.actived {
    color: #11a43c;
}

.surround-mark-content .mark-item .item-tab li:hover {
    color: #11a43c;
}

.surround-mark-content .mark-item .item-list {
    height: 345px;
    overflow-y: auto;
}

.surround-mark-content .mark-item.has-tag .item-list {
    height: 300px;
    overflow-y: auto;
}

.surround-mark-content .mark-item .item-list li {
    padding: 18px 20px;
    border-bottom: 1px dashed #f2f2f2;
    cursor: pointer;
}

.surround-mark-content .mark-item .item-list li:hover {
    background-color: #f7f7f7;
}

.surround-mark-content .mark-item .item-list li .address {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}

.surround-mark-content .mark-item .item-list li i {
    position: relative;
    top: -2px;
    float: left;
    width: 24px;
    height: 24px;
    background: url("../../assets/icons/icon_map.png") no-repeat center center;
}

/*map info window content*/

.map-popup .popup-title {
    color: #333;
    line-height: 30px;
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #eee;
}

.map-popup .popup-content {
    font-size: 12px;
    line-height: 25px;
    margin-top: 5px;
    color: #999;
}
