/*楼盘问答*/

.box-wd {
    width: 503px;
}

.wd-list {
    font-size: 12px;
    margin: 20px 0;
}

.wd-list li {
    margin-bottom: 8px;
}

.wd-list .wd-flag {
    color: #f57643;
}

.wd-list .wd-left {
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.wd-area .form-item-inline {
    position: relative;
    margin-bottom: 10px;
}

.wd-area .form-item-inline textarea {
    width: 100%;
    padding-left: 10px;
    font-size: 14px;
    border: 1px solid #eee;
}

/*问答详情列表*/
.ask-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.ask-header .title {
    font-size: 18px;
    color: #666;
}

.ask-header .action-btn {
    display: block;
    color: #fff;
    padding: 5px 12px;
    border-radius: 2px;
    background-color: #11a43c;
}

.ask-list li {
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}

.ask-list li:hover {
    background-color: #f7f7f7;
}

.ask-list p {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
}
.ask-list .question a{
    color: #333;
    font-size: 16px;
}

.ask-list .question a:hover {
    color: #df2f30;
}

.ask-list i {
    position: absolute;
    left: 0;
}

.ask-list .question i {
    width: 14px;
    height: 24px;
    background: url('../../assets/icons/question.png') no-repeat center 4px;
}

.ask-list .answer i{
    width: 14px;
    height: 24px;
    background: url('../../assets/icons/answer.png') no-repeat center 3px;
}

.ask-list .publish {
    font-size: 12px;
    color: #999;
}

.ask-list .publish a:hover {
    text-decoration: underline;
}