/*楼盘问答*/

.box-wd {
    width: 503px;
}

.wd-list {
    font-size: 12px;
    margin: 20px 0;
}

.wd-list li {
    margin-bottom: 8px;
}

.wd-list .wd-flag {
    color: #f57643;
}

.wd-list .wd-left {
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.wd-area .form-item-inline {
    position: relative;
    margin-bottom: 10px;
}

.wd-area .form-item-inline textarea {
    width: 100%;
    padding-left: 10px;
    font-size: 14px;
    border: 1px solid #eee;
}