.bd-carousel-show {
    margin-bottom: 20px;
}

.bd-carousel-show .item-list,
.bd-carousel-show .item-list .banner-position {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
}

.bd-carousel-show .item-list li {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 400px;
    background-color: #ddd;
}

.bd-carousel-show .item-list img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 400px;
    margin: auto;

}

.bd-carousel-wrap {
    position: relative;
    width: 600px;
    height: 80px;
}

.bd-carousel-wrap .current {
    position: absolute;
    left: 0;
    top: -5px;
    width: 112px;
    height: 85px;
    background: url("../../assets/images/carousel-cur.png") no-repeat center center;
    cursor: pointer;
    z-index: 103;
}

.bd-carousel-content {
    position: relative;
    width: 600px;
    height: 80px;
    text-align: center;
    overflow: hidden;
}

.bd-carousel-content .bd-carousel-list {
    position: absolute;
    width: 800px;
    height: 80px;
    left: 0;
}

.bd-carousel-content .bd-carousel-list li {
    position: relative;
    float: left;
    cursor: pointer;
    width: 112px;
    height: 80px;
    margin-right: 10px;
    overflow: hidden;
}

.bd-carousel-content .bd-carousel-list li em {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 112px;
    height: 26px;
    background-color: #000;
    opacity: 0.6;
    z-index: 102;
}

.bd-carousel-content .bd-carousel-list li p {
    position: absolute;
    bottom: 0;
    width: 112px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    z-index: 103;
}

.bd-carousel-content .bd-carousel-list li p a {
    color: #fff;
    font-size: 12px;
}

.bd-carousel-content .bd-carousel-list li img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 80px;
    z-index: 100;
}

.bd-carousel-content .bd-carousel-list li img:hover {
    transform: scale(1.05);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.bd-carousel-content .arrow {
    position: absolute;
    width: 22px;
    height: 33px;
    z-index: 104;
    background: url("../../assets/icons/arrow.png");
}

.bd-carousel-content .arrow.next {
    background-position: -23px 0;
    top: 20px;
    right: 0;
}

.bd-carousel-content .arrow.next:hover {
    background-position: -23px -34px;
}

.bd-carousel-content .arrow.previous {
    background-position: 0 0;
    top: 20px;
    left: 0;
}

.bd-carousel-content .arrow.previous:hover {
    background-position: 0 -34px;
}

.bd-carousel-content .current {
    position: absolute;
    left: 0;
    width: 114px;
    height: 84px;
    border: 2px solid #ddd;
}