/*置业顾问样式*/

.consultant-carousel {
    position: relative;
    width: 100%;
    height: 106px;
    margin-top: 15px;
    border: 1px solid #eee;
}

.consultant-carousel .arrow {
    display: none;
    position: absolute;
    top: 0;
    width: 20px;
    height: 106px;
    cursor: pointer;
    background-color: #f7f7f7;
}

.consultant-carousel .arrow.arrow-left {
    left: 0;
}

.consultant-carousel .arrow.arrow-right {
    right: 0;
}

.consultant-carousel .arrow-left::after {
    content: '';
    position: absolute;
    left: -7px;
    top: 43px;
    border-right: 10px solid #BBB;
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.consultant-carousel .arrow-right::after {
    content: '';
    position: absolute;
    right: -6px;
    top: 43px;
    border-right: 10px solid transparent;
    border-left: 10px solid #BBB;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.consultant-header>.text-left .desc {
    font-size: 12px;
    padding-left: 10px;
    color: #999;
}
.consultant-carousel .consultant-content {
    position: relative;
    width: 1158px;
    height: 106px;
    overflow-x: hidden;
}

.consultant-carousel .consultant-hidden-list {
    margin-top: 32px;
}

.consultant-carousel .consultant-hidden-list li {
    margin-left: 40px;
}

.consultant-carousel .consultant-info .consultant-scan-popup {
    top: 54px;
    right: 50px;
}