/*楼盘户型图*/

/*户型图展示*/

.house-type-content a {
    position: relative;
    display: inline-block;
    width: 264px;
}

.house-type-content a~a {
    margin-left: 25px;
}

.house-type-image {
    position: relative;
    width: 264px;
    height: 262px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #eee;
}

.house-type-all .house-type-image {
    width: 208px;
    height: 158px;
}

.house-type-image img:hover {
    transform: scale(1.05);
}

.house-type-image .image-tag {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 10px;
    color: #fff;
    background: rgba(64, 157, 251, .9);
}

.house-type-image .image-tag.solding {
    background: rgba(64, 157, 251, .9);
}

.house-type-image .image-tag.unsold {
    background: rgba(255, 152, 50, .9);
}

.house-type-image .image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4px 10px;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    text-align: center;
}

.house-type-text p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
}

.house-type-all .house-type-text p {
    line-height: 20px;
}

.house-type-text .text-tag span {
    font-size: 12px;
    padding: 2px 6px;
    background-color: #eee;
}

/*所有户型图列表*/

.house-type-list {
    margin: 0 -20px;
}

.house-type-list li {
    float: left;
    width: 265px;
    margin: 20px 20px;
}

.house-type-all .house-type-list li {
    width: 208px;
    font-size: 12px;
}

.house-type-text .tag {
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 2px;
    border: 1px solid #ddd;
}

.house-type-nav ul li {
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
}

.house-type-nav ul li a {
    display: block;
    padding: 4px 10px;
    color: #666;
    border-radius: 5px;
    border: 1px solid #eee;
    background-color: #eee;
}

.house-type-nav ul li a.actived {
    color: #fff;
    background-color: #11a43c;
}

.house-type-nav ul li a:hover:not(.actived) {
    color: #11a43c;
    border-color: #11a43c;
}

/*户型图顾问*/

.consult-contact .consult {
    position: relative;
    width: 860px;
    height: 135px;
    padding: 10px 20px;
    background-color: #f7f7f7;
}

.consult-contact .consult .title-name {
    font-size: 16px;
    color: #666;
}

.consult-contact .arrow i {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 15px;
    height: 24px;
    cursor: pointer;
}

.consult-contact .arrow .arrow-left {
    right: 40px;
    background: url('../../assets/icons/arrow_left.png') no-repeat center center;
    background-color: #ccc;
}

.consult-contact .arrow .arrow-right {
    background: url('../../assets/icons/arrow_right.png') no-repeat center center;
    background-color: #ccc;
}

.consult-contact .consult-hidden {
    position: relative;
    width: 820px;
    height: 80px;
    overflow-x: hidden;
}

.consult-contact .consultant-hidden-list {
    top: 16px;
    margin: 0 -20px;
}

.consult-contact .consultant-hidden-list li {
    width: 185px;
    margin-left: 30px;
}

.consult-contact .consultant-hidden-list .consultant-info {
    width: 100px;
}

.consult-contact .consult-content {
    position: relative;
    width: 820px;
    height: 80px;
    margin-top: 10px;
    background-color: #fff;
}

.consult-contact .contact {
    height: 135px;
    width: 320px;
    padding: 20px;
    background-color: #f5fdf6;
}

.consult-contact .contact p {
    line-height: 30px;
}

.consult-contact .contact .scan-wx {
    font-size: 12px;
    color: #ff3344;
    cursor: pointer;
}

.consult-contact .contact .scan-wx i {
    float: left;
    width: 20px;
    height: 25px;
    background: url('../../assets/icons/icon_scan_red.png') no-repeat left 9px;
}

.consult-contact .contact-btn {
    display: block;
    width: 100px;
    padding: 5px 10px;
    text-align: center;
    margin-top: 5px;
    color: #fff;
    border-radius: 2px;
    background-color: #11a43c;
}

.consult-contact .contact-btn:hover {
    background-color: #14922d;
}

/* 户型图详情 */

.house-type-detail {
    position: relative;
    padding: 20px;
}

.house-type-detail .arrow {
    display: none;
    position: absolute;
    top: 20px;
    width: 15px;
    height: 52px;
    cursor: pointer;
}

.house-type-detail .arrow.arrow-left {
    left: 5px;
    background: url('../../assets/icons/left_white.png') no-repeat center center;
    background-color: #ccc;
}

.house-type-detail .arrow.arrow-right {
    right: 5px;
    background: url('../../assets/icons/right_white.png') no-repeat center center;
    background-color: #ccc;
}

.house-type-detail .arrow:hover {
    background-color: #ddd;
}

.house-type-detail .detail-nav {
    position: relative;
    width: 1170px;
    height: 52px;
    overflow: hidden;
}

.house-type-detail .detail-nav .hx-nav-list {
    position: absolute;
    left: 0;
    margin: 0 -5px;
    width: 4000px;
}

.house-type-detail .hx-nav-list li {
    float: left;
    width: 175px;
    text-align: center;
    margin: 0 10px;
}

.house-type-detail .hx-nav-list li a {
    display: block;
    padding: 6px;
    color: #666;
    border-radius: 2px;
    border: 1px solid #eee;
    background-color: #eee;
}

.house-type-detail .hx-nav-list li a.actived {
    color: #11a43c;
    background-color: #fff;
    border-color: #11a43c;
}

.house-type-detail .hx-nav-list li a:hover:not(.actived) {
    background-color: #fff;
    border-color: #11a43c;
}

.htd-content {
    margin: 25px 0;
}

.htd-content .carousel-show {
    position: relative;
    width: 700px;
    height: 600px;
}

.htd-content .carousel-show a.image {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
}

.htd-content .carousel-show .icons {
    position: absolute;
    top: 0;
    right: 0;
}

.htd-content .carousel-show .icons .icon-fullscreen {
    display: block;
    width: 30px;
    height: 30px;
    background: url('../../assets/icons/icon_fullscreen.png') no-repeat center 6px;
}

.htd-content .carousel-content {
    position: relative;
    width: 700px;
    height: 84px;
    margin-top: 20px;
    overflow: hidden;
}

.htd-content .carousel-content .hxarrow {
    position: absolute;
    top: 25px;
    width: 22px;
    height: 33px;
    cursor: pointer;
    background: url("../../assets/icons/arrow.png") no-repeat center center;
}

.htd-content .carousel-content .hxarrow-left {
    left: 0;
    background-position: 0 0;
}

.htd-content .carousel-content .hxarrow-right {
    right: 0;
    background-position: -23px 0;
}

.htd-content .carousel-content .hxarrow-left:hover, .htd-content .carousel-content .hxarrow-right:hover {
    background-color: #ccc;
}

.htd-content .carousel-list {
    position: absolute;
    left: 0;
    width: 4000px;
    height: 84px;
}


.htd-content .carousel-list li {
    position: relative;
    float: left;
    width: 100px;
    height: 84px;
    overflow: hidden;
    margin-right: 20px;
    border: 2px solid #f7f7f7;
    background-color: #f7f7f7;
    cursor: pointer;
}

.htd-content .carousel-list li:last-child {
    margin-right: 0;
}

.htd-content .carousel-list li.actived {
    border-color: #11a43c;
}

.htd-content .carousel-list li:hover {
    border-color: #11a43c;
}

.htd-content .carousel-list li img {
    width: 96px;
    height: 80px;
}

.htd-content .detail-text {
    width: 400px;
}

.htd-content .detail-text .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.htd-content .detail-text .desc {
    margin-top: 20px;
}

.htd-content .detail-text .desc p {
    margin: 20px 0;
}

.htd-content .detail-text .desc .field {
    margin-right: 15px;
    color: #999;
}

.htd-content .detail-text .contact {
    position: relative;
    height: 80px;
    background-color: #f5fdf6;
    padding: 10px 20px;
    margin: 20px 0;
}

.htd-content .detail-text .contact p {
    position: relative;
    line-height: 30px;
}

.htd-content .detail-text .scan-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.htd-content .detail-text .scan-icon i {
    display: block;
    width: 30px;
    height: 30px;
    background: url('../../assets/icons/icon_code.png') no-repeat center 6px;
}

.htd-content .detail-text .scan-icon:hover .scan-ht-popup {
    display: block;
    z-index: 12;
}

.scan-ht-popup {
    top: -8px;
    right: 24px;
}

/*详情顾问列表*/

.consultants .sub-title {
    text-align: center;
    margin-top: -20px;
}

.consultants .sub-title .title-name {
    padding: 2px 10px;
    color: #666;
    background-color: #fff;
}

.consultants .consultant-list li {
    position: relative;
    margin: 10px;
    padding: 0 5px;
}

.consultants .consultant-list .consultant-info {
    width: 100px;
}

.consultant-info .consultant-scan-popup {
    top: 54px;
    right: 0;
    z-index: 12;
}