/*楼盘首页样式*/

.box {
    margin-top: 20px;
}

.box-building>.building-slide {
    width: 600px;
}

.building-slide>.image-show {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
}

.image-show img {
    float: left;
    width: 600px;
    height: 400px;
}

.building-slide>.scroll-bar {
    position: relative;
    margin-top: 8px;
}

.building-slide>.scroll-bar>.scroll-list {
    width: 600px;
    height: 80px;
}

.scroll-bar>.scroll-list li {
    float: left;
    cursor: pointer;
    width: 112px;
    height: 80px;
    margin: 0 10px 0 0;
}

.scroll-bar img {
    width: 112px;
    height: 80px;
}

.scroll-bar .scroll_tit {
    position: absolute;
    bottom: 0;
    width: 112px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    text-align: center;
    z-index: 101;
}

.scroll-bar em {
    position: absolute;
    bottom: 0;
    width: 112px;
    height: 26px;
    line-height: 26px;
    background-color: #000;
    opacity: 0.6;
}

.scroll-bar .scroll_tit a {
    color: #fff;
    font-weight: bold;
}

/*楼盘属性*/

.box-building>.building-attribute {
    width: 552px;
    height: auto;
}

.score-point {
    font-size: 20px;
    color: #11a43c;
}

.bold-red {
    font-weight: bold;
    color: #11a43c;
}

.btn-type {
    line-height: 45px;
    margin-bottom: 10px;
}

.btn-type a {
    padding: 2px 5px;
}

.btn-type>.btn-zise {
    border: 1px solid #b68fd8;
    color: #b68fd8;
}

.btn-type>.btn-fengse {
    border: 1px solid #e08585;
    color: #e08585;
}

.btn-type>.btn-chengse {
    border: 1px solid #cc9752;
    color: #cc9752;
}

.btn-type>.btn-lanse {
    border: 1px solid #77be66;
    color: #77be66;
}

.btn-type>.btn-lvse {
    border: 1px solid #b68fd8;
    color: #b68fd8;
}

.informaion-li {
    line-height: 35px;
}

.informaion-li h3 {
    display: inline;
}

.informaion-li>.informaion-li-left .unit {
    margin-right: 20px;
}

.informaion-li>.informaion-li-right a {
    padding: 0 6px 0 4px;
    border: 1px solid transparent;
    color: #999;
}

.informaion-li>.informaion-li-right a:hover {
    border-color: #999;
}

.informaion-li>.informaion-li-right a.bjtx {
    color: #11a43c;
}

.informaion-li .more-detail:hover, .informaion-li .informaion-li-ellipsis a:hover, .informaion-li>.informaion-li-right a.bjtx:hover {
    border-color: #11a43c;
}

.informaion-li .informaion-li-text {
    margin: 0 8px;
}

.informaion-li .informaion-li-ellipsis {
    max-width: 358px;
    overflow: hidden;
    height: 32px;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 10px 0 8px;
}

.informaion-li .more-detail {
    text-decoration: underline;
}

.informaion-li-right-normal a {
    font-size: 12px;
    padding: 4px 6px;
    overflow: hidden;
}

.informaion-li-right-normal a:hover {
    background-color: #eee;
}

.information-phone {
    position: relative;
    margin-bottom: 5px;
}

.information-phone span {
    vertical-align: middle;
}

.information-phone .btn-zxzx {
    position: absolute;
    right: 1px;
    top: 2px;
    border: 1px solid #F5C0C0;
    border-radius: 2px;
    padding: 4px 8px;
}

.information-phone>.fl {
    font-size: 12px;
    color: #999;
}

.information-phone a {
    font-size: 12px;
    color: #ff3344;
}

.information-book {
    margin-top: 11px;
    background-color: #ffe6ec;
}

.information-book>.fl {
    width: 50%;
    padding: 5px 0 5px 15px;
    margin: 15px 0;
    border-right: 1px solid #e8e8e8;
}

.information-book .fl:hover p {
    color: #11a43c;
}

.information-book a {
    border-radius: 2px;
    padding: 3px 6px;
    background-color: #11a43c;
}

.information-book .fr {
    margin: 10px 5px 0;
}
