
/*楼盘属性*/

.box-building>.bd-attribute {
    font-size: 14px;
    width: 552px;
    height: auto;
}

.bd-attribute .title-desc {
    color: #666;
    margin: 0 15px 0 10px;
}

.informaion-li {
    line-height: 38px;
}

.informaion-li i {
    position: absolute;
    left: 5px;
    top: 8px;
    width: 14px;
    height: 14px;
    background: url('../../assets/icons/bd_icon_sprites.png') no-repeat center center;
}

.informaion-li-right i {
    left: 4px;
    top: 3px;
}

.informaion-li-left h4 {
    font-size: 15px;
    display: inline;
}

.informaion-li-left .unit {
    margin-right: 20px;
}

.informaion-li-left .contact {
    font-size: 18px;
    margin-left: 5px;
    font-weight: bold;
    color: #11a43c;
}

.informaion-li-right a {
    position: relative;
    font-size: 12px;
    padding: 2px 5px 2px 20px;
    border: 1px solid transparent;
    color: #999;
}

.informaion-li-right .small-desc {
    border: 0;
}

.informaion-li-right a:hover {
    color: #666;
    border-color: #999;
}

.informaion-li-right .bjtx-link, .informaion-li-right .kptx-link {
    color: #ff3344;
}

.informaion-li-right a.kptx-link:hover, .informaion-li-right a.bjtx-link:hover {
    color: #ff3344;
    border-color: #ff3344;
}

.informaion-li-left .more-detail:hover, .informaion-li-ellipsis a:hover {
    color: #ff3344;
}

.informaion-li-right .kptx {
    background-position: -44px -10px;
}

.informaion-li-right .bjtx {
    background-position: -10px -112px;
}

.informaion-li-right .price-state-icon {
    background-position: -78px -44px;
}

.informaion-li-right .price-check {
    background-position: -10px -78px;
}

.informaion-li-right .loan-calculator {
    background-position: -10px -44px;
}

.informaion-li-right .hx-all {
    background-position: -10px -10px;
}

.informaion-li-right .check-map {
    background-position: -112px -10px;
}

.informaion-li-right .house-delivery-icon {
    background-position: -44px -44px;
}

.informaion-li-right .house-fix {
    background-position: -44px -112px;
}

.informaion-li-text {
    max-width: 150px;
    font-size: 13px;
    margin: 0 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.informaion-li-ellipsis {
    max-width: 358px;
    height: 32px;
    font-size: 13px;
    margin: 0 10px 0 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.informaion-li-ellipsis a {
    padding-right: 5px;
}

.informaion-li-left .more-detail {
    text-decoration: underline;
}

.informaion-li-right-normal a {
    position: relative;
    display: inline-block;
    font-size: 12px;
    height: 28px;
    line-height: 26px;
    text-align: center;
    padding: 2px 8px;
}

.informaion-li-right-normal .share {
    background-position: -112px -78px;
}

.informaion-li-right-normal .compare {
    background-position: -78px -10px;
}

.informaion-li-right-normal a:hover {
    background-color: #eee;
}

/*咨询*/

.information-phone {
    position: relative;
    margin-bottom: 8px;
}

.information-phone span {
    vertical-align: middle;
}

.information-phone .btn-zxzx {
    position: absolute;
    right: 1px;
    top: 2px;
    width: 56px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #F5C0C0;
    border-radius: 2px;
    padding-left: 24px;
    background: url('../../assets/icons/icon_message_red.png') no-repeat 5px 7px;
}

.information-phone .scan-wx-icon {
    padding-left: 22px;
    background: url('../../assets/icons/icon_scan_red.png') no-repeat 5px 2px;
}

.information-phone>.fl {
    font-size: 12px;
    color: #999;
}

.information-phone a {
    font-size: 12px;
    color: #ff3344;
}

.information-order {
    margin-top: 11px;
    background-color: #ffe6ec;
}

.information-order .order-item {
    position: relative;
    width: 50%;
    height: 50px;
    padding: 5px 0 5px 15px;
    margin: 15px 0;
    border-right: 1px solid #e8e8e8;
}

.information-order .order-item:hover p {
    color: #11a43c;
}

.information-order .order-desc {
    width: 156px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    overflow: hidden;
}

.information-order .order-btn {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.information-order .order-btn a {
    border-radius: 2px;
    padding: 3px 8px;
    color: #fff;
    background-color: #11a43c;
}

/*popup*/

.price-state:hover .price-state-popup {
    display: block;
}

.house-delivery:hover .house-delivery-popup {
    display: block;
}

.phone-scan:hover .phone-scan-popup {
    display: block;
}

.scan-wx:hover .scan-wx-popup {
    display: block;
    z-index: 10;
}

.scan-wx-popup {
    top: -15px;
    right: 90px;
}

.popup {
    display: none;
    position: absolute;
    top: 28px;
    left: 0;
    width: 235px;
    border: 1px solid #ddd;
    padding: 5px 10px;
    background-color: #fff;
    z-index: 10;
}

.popup .top-arrow {
    position: absolute;
    top: -13px;
    left: 35px;
    border-style: solid;
    border-color: transparent transparent #ddd transparent;
    border-width: 6px;
}

.popup .top-arrow span {
    position: absolute;
    top: -5px;
    left: -6px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    border-width: 6px;
}

.popup p {
    line-height: 26px;
}

/*楼盘标签集合*/

.box-tag {
    min-height: 80px;
    border: 1px solid #f2f2f2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

.tag-nav {
    height: 40px;
    line-height: 40px;
    font-size: 0;
    background-color: #f2f2f2;
}

.tag-nav li {
    width: 100px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #666;
    border-bottom: 2px solid #f2f2f2;
    cursor: pointer;
}

.tag-nav li.actived {
    color: #11a43c;
    border-color: #11a43c;
}

.tag-content {
    margin: 0 -15px;
    padding: 10px 25px;
    font-size: 12px;
}

.tag-content li {
    display: inline-block;
    margin: 5px 10px;
}

.tag-content li a:hover {
    color: #ff3344;
}

/*楼盘二维码标题*/

.bd-title {
    margin: 10px 0 20px 0;
}

.bd-title .picture {
    width: 64px;
    height: 64px;
}

.bd-title .picture img {
    width: 64px;
    height: 64px;
}

.bd-title .text {
    margin-left: 20px;
}

.bd-title .text .title-name {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    color: #333;
}

.bd-title .text .title-name:hover {
    color: #df2f30;
}

/*房贷计算*/

.calculator-content {
    position: relative;
    min-height: 250px;
}

.calculator-content .calculator-btn {
    position: absolute;
    top: 40%;
    left: 548px;
    width: 100px;
    height: 75px;
    text-align: center;
    background-color: #fff;
}

.calculator-content .calculator-btn a {
    display: block;
    color: #fff;
    height: 35px;
    line-height: 35px;
    margin-top: 20px;
    border-right: 2px;
    background-color: #11a43c;
}

.calculator-content .calculator-btn a:hover {
    background-color: #14922d;
}

.calculator-content .sub-title {
    font-size: 18px;
    color: #333;
    margin-bottom: 25px;
}

.calculator-condition {
    float: left;
    width: 600px;
    padding: 25px;
    border-right: 1px solid #f2f2f2;
}

.calculator-result {
    float: left;
    width: 590px;
    padding: 25px;
}

.select-item {
    height: 35px;
    margin-bottom: 12px;
}

.select-item .select-label {
    width: 80px;
    height: 35px;
    line-height: 35px;
    margin-right: 15px;
    text-align: right;
    color: #999;
}

.select-item .select-content {
    position: relative;
    width: 320px;
    height: 35px;
}

.select-item .fixed-text {
    width: 100%;
    height: 100%;
    line-height: 35px;
}

.select-item .fixed-text .price {
    font-size: 18px;
    font-weight: bold;
}

.select-item .fixed-text .desc {
    font-size: 12px;
    color: #999;
}

.select-item .select-text {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 35px;
    border: 1px solid #ddd;
    padding: 0 10px;
    color: #666;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select-item .select-text i {
    position: absolute;
    top: 0;
    right: 10px;
    width: 20px;
    height: 35px;
    background: url('../../assets/icons/down28_grey.png') no-repeat center center;
}

.select-item .select-list {
    display: none;
    position: absolute;
    top: 34px;
    width: 320px;
    max-height: 320px;
    overflow-y: auto;
    border: 1px solid #ddd;
    color: #666;
    cursor: pointer;
    background-color: #fff;
    z-index: 10;
}

.select-item .select-list li {
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    white-space: nowrap;
}

.select-item .select-list li:hover {
    background-color: #e5fbe8;
}

.select-item-loan {
    display: none;
    height: 100px;
}

.loan-content .loan-item {
    position: relative;
    margin-top: 10px;
    height: 30px;
}

.loan-content .loan-error {
    font-size: 12px;
    margin-left: 15px;
    color: #f34;
}

.loan-content .loan-total {
    color: #999;
}

.loan-content .loan-label {
    color: #999;
}

.loan-content .loan-input {
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    margin: 0 10px;
    padding-right: 0;
}

/*计算结果*/

.box-chart {
    height: 250px;
    margin: auto 0;
    padding: 0 0 20px 50px;
}

.calculator-result .chart-pip {
    width: 215px;
    height: 215px;
}

.calculator-result .chart-text {
    width: 268px;
}

.chart-text .month-pay {
    font-size: 18px;
    color: #666;
}

.chart-text .month-pay .price {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.chart-text .legend li {
    line-height: 26px;
    margin-top: 15px;
    color: #666;
}

.chart-text .remark {
    font-size: 13px;
    margin-top: 20px;
    color: #999;
}

.chart-text .legend-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
}

.chart-text .legend-icon.blue {
    background: url('../../assets/icons/circle_blue.png') no-repeat center center;
}

.chart-text .legend-icon.primary {
    background: url('../../assets/icons/circle_primary.png') no-repeat center center;
}

.chart-text .legend-icon.yellow {
    background: url('../../assets/icons/circle_yellow.png') no-repeat center center;
}

/*周边配套中心点*/

.surround-bubble {
    position: relative;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    padding: 0 20px;
    text-align: center;
    color: #fff;
}

.surround-bubble .triangle-down {
    position: absolute;
    top: 35px;
    left: 40%;
    border-width: 10px;
    border-style: solid;
    border-color: #11a43c transparent transparent transparent;
}