/*新楼查询条件*/

.filter-menu-list {
    height: 40px;
    font-size: 15px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
}

.filter-menu-list li {
    position: relative;
    float: left;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    cursor: pointer;
}

.filter-menu-list li:last-child {
    border-right: 1px solid #ddd;
}

.filter-menu-list li.actived {
    font-weight: bold;
    border-top: 2px solid #11a43c;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    color: #333;
}

.filter-content {
    position: relative;
    min-height: 150px;
    font-size: 12px;
    border: 1px solid #ddd;
    border-top: 0;
}

.filter-item {
    line-height: 28px;
    padding: 15px 20px 0 20px;
}

.filter-regin {
    line-height: 28px;
    border: 1px solid #f60;
    border-radius: 2px;
    margin: 0 20px;
    padding: 0 10px;
}

.filter-label {
    float: left;
    width: 55px;
    color: #999;
}

.data-list {
    float: left;
    width: 1100px;
}

.data-list a {
    font-size: 12px;
    margin-right: 20px;
}

.data-list a:hover {
    color: #f60;
}

.data-list a.actived {
    font-weight: bold;
    color: #f60;
}

.data-list i {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 20px;
    height: 14px;
    background: url('../../assets/icons/check.png') no-repeat left center;
}

.data-list a.actived i {
    background: url('../../assets/icons/check_hv.png') no-repeat left center;
}

.data-list input[type=text] {
    width: 80px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #eee;
    color: #666;
}

.data-list input[type=button] {
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    margin-left: 10px;
    border: 1px solid #eee;
    color: #333;
    cursor: pointer;
}

.data-list .action-btn {
    padding: 5px 15px;
    border: 1px solid #eee;
}

.data-list span {
    color: #999;
    padding: 0 5px;
}

.data-tab.actived {
    color: #f60;
    font-weight: bold;
}

.data-tab .iconfont {
    margin-left: 10px;
}

.data-tab-item {
    padding-left: 55px;
}

.more-filter {
    padding-bottom: 15px;
}

.more-filter .select-filter {
    position: relative;
    float: left;
    margin-right: 20px;
}

.select-filter .select-status {
    position: relative;
    width: 120px;
    border: 1px solid #eee;
    padding: 0 20px 0 10px;
    cursor: pointer;
}

.select-filter .select-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 12px;
    height: 12px;
    background: url('../../assets/icons/down12.png') no-repeat center center;
}

.select-filter .select-status:hover .select-icon {
    background: url('../../assets/icons/down12_hv.png') no-repeat center center;
}

.select-filter .select-list {
    display: none;
    position: absolute;
    top: 29px;
    width: 100%;
    max-height: 320px;
    border: 1px solid #eee;
    background-color: #fff;
    z-index: 12;
}

.select-filter .item-a {
    display: block;
    padding: 0 10px;
    cursor: pointer;
}

.select-filter .item-a:hover {
    color: #f60;
    background-color: #f7f7f7;
}

.select-filter .item-a.actived {
    color: #f60;
}

.filter-clear-all {
    position: absolute;
    right: 30px;
    bottom: 15px;
    line-height: 28px;
    color: #1f64b2;
}

.filter-clear-all:hover {
    color: #f60;
}

.current-filter {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-top: 0;
    background-color: #f7f7f7;
}

.current-filter .filter-clear {
    padding-left: 16px;
    background: url('../../assets/icons/clear.png') no-repeat left center;
}

.current-filter .filter-clear:hover {
    color: #f60;
}

.filter-selected {
    margin: 0 10px 0 20px;
}

.filter-selected .selected-item {
    border: 1px solid #ffb281;
    padding: 0 20px 0 5px;
    margin-right: 8px;
    background: url('../../assets/icons/clear_hv.png') no-repeat right center;
}

/*新楼导航*/

/* 新楼未搜索到结果 推荐楼盘导航 */

.newhouse-empty {
    padding: 20px 0;
    font-size: 16px;
    color: #444;
}

.newhouse-empty .empty-content {
    padding: 0 8px;
    color: #ff6600;
}

.newhouse-empty p {
    line-height: 40px;
}

.newhouse-empty .empty-content em {
    padding: 0 5px;
    color: #ff6600;
}

.newhouse-empty input[type=button] {
    padding: 6px 25px;
    margin-top: 8px;
    color: #fff;
    background-color: #11a43c;
    cursor: pointer;
}

.newhouse-empty input[type=button]:hover {
    background-color: #14922d;
}

.newhouse-refer-nav {
    height: 39px;
    line-height: 36px;
    padding-left: 20px;
    border: 1px solid #ddd;
    border-top-color: #11a43c;
    border-top-width: 2px;
    color: #666;
}

.newhouse-nav .nav-list {
    height: 41px;
    line-height: 40px;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    color: #333;
}

.newhouse-nav .nav-item {
    padding: 0 20px;
    border-right: 1px solid #ddd;
}

.newhouse-nav .nav-item.actived a {
    font-weight: bold;
    color: #11a43c;
}

.newhouse-nav .nav-item.actived {
    background-color: #fff;
}

.newhouse-nav .nav-item:hover {
    color: #11a43c;
    background-color: #fff;
}

.newhouse-nav .nav-rank {
    position: relative;
    font-size: 12px;
    color: #666;
    padding-right: 10px;
}

.newhouse-nav .rank-item {
    float: left;
    padding: 0 10px;
    cursor: pointer;
}

.newhouse-nav .rank-item:hover {
    color: #ff3344;
}

.newhouse-nav .rank-item.actived {
    color: #ff3344;
}

/*
.newhouse-nav .page-control {
    position: relative;
    float: right;
    padding: 0 20px;
    margin-left: 20px;
} 
.newhouse-nav .page-control .arrow {
    position: absolute;
    top: 0;
    width: 14px;
    height: 42px;
}

.newhouse-nav .page-control .arrow-left {
    left: 2px;
    background: url('../../assets/icons/left12.png') no-repeat left center;
}

.newhouse-nav .page-control .arrow-left:hover {
    background: url('../../assets/icons/left12_hv.png') no-repeat left center;
}

.newhouse-nav .page-control .arrow-right {
    right: 2px;
    background: url('../../assets/icons/right12.png') no-repeat left center;
}

.newhouse-nav .page-control .arrow-right:hover {
    background: url('../../assets/icons/right12_hv.png') no-repeat left center;
} */

/*新房列表项*/

.newhouse-item {
    padding: 25px 0;
    border-bottom: 1px solid #eee;
}

.newhouse-item:hover {
    background-color: #fcfcfc;
}

.newhouse-item .picture {
    position: relative;
    width: 168px;
    height: 125px;
    overflow: hidden;
}

.newhouse-item .picture .tag {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    padding: 0 8px;
    color: #fff;
    background-color: #f60;
}

.newhouse-item .picture .icon-c {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.newhouse-item .picture .icon-b {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    padding: 0 5px;
    font-size: 12px;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
}

.newhouse-item .picture .icon-b span {
    position: relative;
    top: -2px;
    margin-right: 5px;
}

.newhouse-item .picture .image {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('../../assets/icons/pic_white.png') no-repeat center center;
}

.newhouse-item .picture .comment {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('../../assets/icons/sms_white.png') no-repeat center center;
}

.newhouse-item .picture .video {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-image: url('../../assets/icons/video.png');
}

.newhouse-item .content-c {
    width: 450px;
    padding-left: 20px;
}

.newhouse-item .content-c .house-name {
    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

.newhouse-item .content-c .rent-name {
    font-size: 16px;
}

.newhouse-item .content-c .house-name:hover {
    color: #f60;
}

.newhouse-item .content-c p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 14px;
    color: #666;
}

.newhouse-item .content-c .house-location {
    color: #333;
}

.newhouse-item .content-c .house-location a {
    margin-right: 10px;
}

.newhouse-item .content-c .tag {
    font-size: 12px;
    padding: 2px 6px;
    margin-right: 5px;
    vertical-align: 1px;
    color: #fff;
    background-color: #11a43c;
}

.content-c .rent-tags span{
    float: left;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 16px;
    vertical-align: 1px;
    margin-right: 10px;
}

.content-c .rent-tags .tags-1 {
    color: #e88a78;
    background-color: #fcf4f1;
}
.content-c .rent-tags .tags-2 {
    color: #799374;
    background-color: #f2f6ed;
}
.content-c .rent-tags .tags-3 {
    color: #f0f4f8;
    background-color: #6682ae;
}

.newhouse-item .content-r {
    width: 200px;
    line-height: 30px;
    padding-left: 20px;
    text-align: right;
}

.newhouse-item .content-r .house-price span {
    font-size: 26px;
    font-weight: bold;
    color: #ff3344;
}

.newhouse-item .content-r .house-contact {
    font-weight: bold;
    color: #666;
}

.newhouse-item a:hover {
    color: #f60;
}

/* 二手房 */

.filter-content-border {
    border-top: 1px solid #ddd;
}