/*相册菜单*/

.album-menu {
    margin: 20px 0;
}

.album-menu .menu-item {
    float: left;
    margin: 0 15px 10px 0;
    padding: 6px 12px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #eee;
    color: #666;
}

.album-menu .menu-item.actived {
    background-color: #11a43c;
    border-color: #11a43c;
    color: #fff;
}

.album-menu .menu-item:not(.actived):hover {
    border-color: #11a43c;
    color: #11a43c;
}

/* 相册内容 */

.album-content {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 30px;
}

.album-title {
    height: 20px;
    line-height: 20px;
    margin-bottom: 20px;
}

.album-title .title-name {
    float: left;
    font-size: 20px;
    color: #333;
}

.album-title .title-name:hover, .album-title .title-more:hover {
    color: #f34;
}

.album-title .title-more {
    float: right;
    font-size: 14px;
    color: #999;
}

.album-count {
    font-size: 14px;
    color: #666;
}

.album-list {
    margin-left: -33px;
}

.album-list li {
    float: left;
    width: 200px;
    margin: 0 0 30px 33px;
}

.album-list .album {
    position: relative;
    display: block;
    width: 100%;
    height: 150px;
    margin-bottom: 12px;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
    overflow: hidden;
}

.album-list .album:hover {
    border-color: #11a43c;
}

.album-list .album-name {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.album-list .album-name:hover {
    color: #f34;
}

.album-list .album-time {
    font-size: 12px;
    color: #999;
}

.album-house-desc {
    border: 1px solid #eee;
    padding: 12px 30px;
}
.subscrib-text {
    color: #666;
    line-height: 25px;
    margin-bottom: 10px;
    text-indent: 30px;
}