.sand-container {
    min-height: 120px;
    padding: 20px;
}

.sand-container>.sand-content {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
    cursor: move;
    border: 1px solid #ddd;
}

.sand-container>.sand-content img {
    position: relative;
}