.sand-content {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
    cursor: move;
    border: 1px solid #ddd;
}

.sand-state {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 0;
    z-index: 103;
}

.sand-state ul li {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 60px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    margin-right: 15px;
    padding-left: 15px;
    color: #fff;
}

.sand-state ul li i {
    position: absolute;
    top: 6.5px;
    left: 10px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 1px solid #fff;
}

.sand-state ul li i.checked {
    background: url("../../assets/icons/state-checked.png") no-repeat center center;
}

.sand-state ul li.unsold {
    background-color: #FF9832;
}

.sand-state ul li.solding {
    background-color: #409DFB;
}

.sand-state ul li.solded {
    background-color: #BBB;
}

.sand-picture .sand-item {
    position: absolute;
    cursor: pointer;
    background-color: #f7f7f7;
}

.sand-picture .sand-item {
    font-size: 12px;
    padding: 6px 8px;
    border-radius: 2px;
    color: #fff;
    background-color: #409DFB;
}

.sand-picture .solding {
    background-color: #409DFB;
}

.sand-picture .unsold {
    background-color: #FF9832;
}

.sand-picture .solded {
    background-color: #BBB;
}

.sand-picture .sand-item:hover {
    background-color: #11a43c;
}

.sand-picture .sand-item:hover i {
    border-color: #11a43c transparent transparent;
}

.sand-picture .sand-item.actived {
    background-color: #11a43c;
}

.sand-picture .sand-item.actived i {
    border-color: #11a43c transparent transparent;
}

.sand-picture .sand-item i {
    position: absolute;
    top: 26px;
    left: 8px;
    display: block;
    border-style: solid;
    border-width: 8px 8px 0;
    border-color: #409DFB transparent transparent;
}

.sand-picture .solding i {
    border-color: #409DFB transparent transparent;
}

.sand-picture .unsold i {
    border-color: #FF9832 transparent transparent;
}

.sand-picture .solded i {
    border-color: #BBB transparent transparent;
}

.sand-memo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 600px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
}

.sand-memo .memo-bg {
    height: 30px;
    opacity: .3;
    background-color: #000;
}

.sand-memo span {
    position: absolute;
    bottom: 0;
}

.sand-memo span.memo-text {
    left: 10px;
}

.sand-memo span.memo-hover {
    display: none;
    right: 10px;
}

.sand-content:hover .sand-memo span.memo-hover {
    display: block;
}

/*沙盘点信息*/

.sand-info {
    width: 500px;
    height: 400px;
    margin-right: 20px;
    overflow: hidden;
}

.sand-info-header {
    position: relative;
    width: 500px;
    height: 40px;
    line-height: 40px;
    background-color: #f2f2f2;
    border-bottom: 2px solid #11a43c;
}

.sand-info-header .arrow {
    display: none;
    position: absolute;
    top: 0;
    width: 20px;
    height: 40px;
}

.sand-info-header .arrow.prev {
    left: 0;
    background: url('../../assets/icons/arrow_left.png') no-repeat center center;
    background-color: rgba(0, 0, 0, .2);
}

.sand-info-header .arrow.next {
    right: 0;
    background: url('../../assets/icons/arrow_right.png') no-repeat center center;
    background-color: rgba(0, 0, 0, .2);
}

.sand-info-header .arrow:hover {
    background-color: rgba(0, 0, 0, .3);
}

.sand-info-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 4000px;
    height: 40px;
    font-size: 0;
}

.sand-info-list li {
    display: inline-block;
    font-size: 14px;
    width: 100px;
    height: 40px;
    text-align: center;
    color: #666;
    cursor: pointer;
}

.sand-info-list li.actived {
    color: #fff;
    background-color: #11a43c;
}


.sand-info-list .arrow {
    display: block;
}

.sand-info-content .bd-detail {
    margin-top: 10px;
    font-size: 0;
}

.sand-info-content .bd-detail li {
    display: inline-block;
    width: 50%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-indent: 20px;
    color: #999;
}

.sand-info-content .bd-detail li span {
    color: #333;
    padding-left: 10px;
}

.hx-wrap {
    margin-top: 20px;
}
.hx-wrap .hx-title {
    font-size: 16px;
    color: #666;
    background-color: #f2f2f2;
    height: 30px;
    line-height: 30px;
    text-indent: 15px;
    border-left: 3px solid #11a43c;
}

.hx-wrap .hx-list {
    height: 200px;
    overflow-y: auto;
}

.hx-wrap .hx-list li {
    height: 35px;
    line-height: 35px;
    padding-left: 20px;
    border-bottom: 1px solid #eee;
    color: #666;
}

.hx-wrap .hx-list li span {
    display: inline-block;
    width: 125px;
    overflow: hidden;
    margin-right: 10px;
}

.hx-wrap .hx-list li .check {
    position: relative;
    bottom: 12px;
    color: #FF3344;
}