/*资讯导航*/
.consult-tab {
    position: relative;
    font-size: 0;
    border-bottom: 2px solid #11a43c;
}

.consult-tab a {
    display: inline-block;
    font-size: 14px;
    border: 1px solid #eee;
    padding: 10px 30px;
    border-right: 0;
    border-bottom: 0;
}

.consult-tab a.actived {
    border: 1px solid #11a43c;
    color: #fff;
    background-color: #11a43c;
}

.consult-tab a:hover:not(.actived) {
    background-color: #eee;
}

.consult-tab a:last-child {
    border-right: 1px solid #eee;
}

/*资讯查询*/
.consult-search {
    position: relative;
    padding: 30px 0;
    border-bottom: 1px solid #f2f2f2;
    background-color: #f7f7f7;
    box-shadow: 0 0 3px #f2f2f2;
}

.consult-search .search-content {
    width: 470px;
    margin: 0 auto;
}

.consult-search .search-input {
    float: left;
    width: 350px;
    height: 35px;
    padding-left: 10px;
    border: 1px solid #ff9900;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.consult-search .search-btn {
    float: left;
    width: 120px;
    height: 35px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ff9900;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    letter-spacing: 10px;
    cursor: pointer;
    overflow: hidden;
    color: #fff;
    background-color: #ff9900;
}
/*咨询列表*/
.consult-list {
    overflow: hidden;
    margin-bottom: 40px;
}
.consult-list li {
    border-bottom: 1px dashed #eee;
    padding: 30px 0;
}

.consult-list .has-img .item-picture {
    position: relative;
    width: 222px;
    height: 150px;
    overflow: hidden;
    margin-left: 20px;
    border: 1px solid #f4f4f4;
}

.consult-list .has-img .item-picture img {
    position: absolute;
    width: 222px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.consult-list .has-img .item-picture img:hover {
    opacity: 0.9;
}

.consult-list .has-img .item-info {
    max-width: 580px; /*依赖content-left*/
    min-height: 120px;
}

.consult-list li p {
    line-height: 30px;
}

.consult-list li .title {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
}

.consult-list li .publish {
    color: #999;
}

.consult-refer .refer-content:hover,
.consult-list li .title:hover,
.consult-list li .desc a:hover {
    text-decoration: underline;
}

.consult-list li .desc a {
    color: #666;
}

.consult-ad {
    margin: 30px 0 20px 0;
}

/*咨询详情*/

.consult-header {
    text-align: center;
    line-height: 40px;
    padding: 10px 0;
}

.consult-header > .sub-title span {
    margin-right: 10px;
    color: #666;
}

.consult-content {
    width: 860px;
    min-height: 200px;
    overflow: hidden;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.consult-refer li {
    margin-top: 15px;
}

.consult-refer .refer-title {
    float: left;
    border: 1px solid #ff9900;
    padding: 0 5px;
    color: #ff9900;
    margin-right: 10px;
}

.consult-refer .refer-content {
    float: left;
    color: #666;
    max-width: 680px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*扫描到手机*/

.box-scan {
    position: relative;
}

.box-scan > a:hover {
    color: #df2f30;
}

.box-scan:hover .scan-to-mobile {
    display: block;
}

.box-scan .scan-to-mobile {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 20px;
    background-color: #fff;
}

.box-scan .scan-to-mobile .top-arrow {
    position: absolute;
    right: 26px;
    top: -16px;
    border-style: solid;
    border-color: transparent transparent #ddd transparent;
    border-width: 8px;
}

.box-scan .scan-to-mobile .top-arrow span {
    position: absolute;
    left: -8px;
    top: -7px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    border-width: 8px;
}

.box-scan .scan-to-mobile .scan-to-mobile-desc .title {
    font: 18px/30px "Microsoft Yaahei";
    color: #ff9900;
    margin-bottom: 20px;
    text-align: left;
}

.box-scan .scan-to-mobile .scan-to-mobile-desc .desc {
    display: inline-block;
    line-height: 24px;
    text-align: left;
}

.box-scan .scan-to-mobile .scan-to-mobile-desc i {
    position: relative;
    top: 5px;
    display: inline-block;
    width: 63px;
    height: 43px;
    background: url("../../assets/icons/computer_mobile_icon.png");
}

.box-scan .scan-to-mobile .scan-to-mobile-qrcode {
    width: 118px;
    height: 118px;
    overflow: hidden;
}
