body {
    background-color: #f2f2f2;
}

.qa-wrap {
    width: 100%;
    background-color: #fff;
}

/* 问题导航 */

.qa-nav {
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
}

.qa-nav .nav-item {
    float: left;
    font-size: 16px;
    padding: 0 10px;
}

.qa-nav .nav-item .item-a {
    display: block;
    color: #333;
    padding: 0 10px;
}

.qa-nav .nav-item .item-a.actived {
    font-weight: bold;
    border-bottom: 2px solid #11a43c;
    line-height: 48px;
    color: #11a43c;
}

.qa-nav .nav-item .item-a:hover {
    color: #11a43c;
}

/* 问答分类 */

.qa-menu {
    width: 320px;
    min-height: 150px;
    padding: 0 20px;
    background-color: #fff;
}

.qa-main {
    width: 860px;
    min-height: 150px;
    padding: 0 30px 30px 30px;
    background-color: #fff;
}

.qa-menu .menu-title {
    display: block;
    font-size: 18px;
    color: #11a43c;
    margin-bottom: 10px;
}

.qa-menu .menu-title.actived {
    color: #f90;
}

.qa-menu .menu-title:hover, .qa-menu .menu-list .item-a:hover {
    color: #f90;
}

.qa-menu .menu-item {
    padding: 20px 0;
    border-bottom: 1px solid #f2f2f2;
}

.qa-menu .menu-item:last-child {
    border-bottom: 0;
}

.qa-menu .menu-list .item-a {
    float: left;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
    color: #666;
}

.qa-menu .menu-list .item-a.actived {
    font-weight: bold;
    color: #f90;
}


.qa-header {
   margin-top: 20px;
}

.qa-header .name {
    color: #11a43c;
    font-size: 16px;
    padding-right: 5px;
}

.qa-header .desc {
    font-size: 13px;
    color: #999;
}

.qa-list li {
    position: relative;
    padding: 20px 160px 20px 0;
    border-bottom: 1px solid #f2f2f2;
}

.qa-list .anwser-count {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 80px;
    height: 80px;
    padding: 15px 0;
    border-radius: 50%;
    margin-top: -40px;
    background-color: #f4f4f4;
    text-align: center;
    cursor: pointer;
}

.qa-list .anwser-count:hover {
    background-color: #eee;
}

.qa-list .qa-name {
    display: block;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 12px;
}

.qa-list .qa-name:hover {
    color: #f90;
    text-decoration: underline;
}

.qa-list .qa-anwser {
    color: #666;
    line-height: 25px;
}

.qa-list .qa-desc {
    font-size: 12px;
    margin-top: 12px;
    color: #999;
}

.qa-list .anwser-count .count {
    font-size: 16px;
    margin-bottom: 6px;
    color: #333;
}

/* 问答表单 */

.qa-ask {
    padding: 40px 30px 50px 30px;
}

.qa-ask-left {
    width: 760px;
    padding-right: 30px;
    border-right: 1px solid #f2f2f2;
}

.qa-ask-right {
    width: 350px;
}

.qa-ask-form label {
    display: block;
    margin-bottom: 12px;
}

.select-item {
    float: left;
    height: 35px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.select-item .select-content {
    position: relative;
    width: 200px;
    height: 35px;
}

.select-item .select-text {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 35px;
    border: 1px solid #ddd;
    padding: 0 10px;
    color: #666;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select-item .iconfont {
    position: absolute;
    top: 0;
    right: 10px;
}

.select-item:hover .iconfont {
    color: #f60;
}

.select-item .select-list {
    display: none;
    position: absolute;
    top: 34px;
    width: 200px;
    max-height: 320px;
    overflow-y: auto;
    border: 1px solid #ddd;
    color: #666;
    cursor: pointer;
    background-color: #fff;
    z-index: 10;
}

.select-item .select-list li {
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    white-space: nowrap;
}

.select-item .select-list li:hover {
    background-color: #e5fbe8;
}

.qa-ask-form textarea {
    width: 100%;
    border: 1px solid #eee;
    line-height: 25px;
    padding: 10px;
    color: #666;
}

.qa-ask-form .text-count {
    color: #999;
    margin-bottom: 20px;
}

.qa-ask-form .text-count .limit {
    color: #ff3344;
    margin-left: 15px;
}

.action-btn {
    position: relative;
    top: 6px;
    color: #fff;
    padding: 6px 20px;
    border-radius: 2px;
    background-color: #11a43c;
}

.action-btn:hover {
    background-color: #14922d;
}

.qa-ask-title {
    margin-bottom: 20px;
    font-size: 18px;
    color: #666;
}

.qa-ask-desc p {
    line-height: 35px;
    color: #999;
}